.container-full {
  @extend .container;

  width:  $container-full-fixed-width;

  /*@media (min-width: $screen-sm-min) {
    width:  $container-full-fixed-width
  }
  @media (min-width: $screen-md-min) {
    width:  $container-full-fixed-width
  }
  @media (min-width: $screen-lg-min) {
    width: $container-full-fixed-width
  }*/
}
